workflows/n8n-linkedin-profile-scrape.json
{
  "name": "LinkFinder AI — LinkedIn Profiles → Full Scrape",
  "meta": { "templateCredsSetupCompleted": false },
  "nodes": [
    {
      "id": "node-sticky",
      "name": "📌 API Key",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 80],
      "parameters": {
        "content": "## 🔑 API Key Setup\n\nFind your API key in the **API Access** section of your [linkfinderai.com](https://linkfinderai.com) account.\n\nThen replace `{{Insert-api-key}}` in every **Linkfinder** node with your actual key.",
        "height": 160,
        "width": 340
      }
    },
    {
      "id": "node-form",
      "name": "On Form Submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [80, 320],
      "parameters": {
        "formTitle": "LinkedIn Profile Scraper",
        "formDescription": "Extract full data from LinkedIn profiles — email, mobile, experience, connections and more.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "LinkedIn Profile URLs",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "https://linkedin.com/in/bill-gates\nhttps://linkedin.com/in/elon-musk",
              "fieldDescription": "One URL per line"
            }
          ]
        },
        "responseMode": "onReceived"
      }
    },
    {
      "id": "node-split",
      "name": "Split into Individual Profiles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 320],
      "parameters": {
        "jsCode": "const raw = $input.first().json['LinkedIn Profile URLs'] || '';\nreturn raw.split('\\n').map(u => u.trim()).filter(u => u)\n  .map(linkedin_url => ({ json: { linkedin_url } }));"
      }
    },
    {
      "id": "node-batch",
      "name": "One Profile at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [520, 320],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "node-api",
      "name": "Linkfinder — Scrape Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 320],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{Insert-api-key}}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"linkedin_profile_to_linkedin_info\",\n  \"input_data\": \"{{ $json.linkedin_url }}\"\n}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "node-format",
      "name": "Extract Profile Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 320],
      "parameters": {
        "jsCode": "const response  = $input.first().json;\nconst data      = response.result || response;\nconst input_url = $('One Profile at a Time').first().json.linkedin_url;\n\nif (!data || !data.name || response.status === 'error')\n  return [{ json: { input_url, status: 'not_found' } }];\n\nconst currentYear = new Date().getFullYear();\nconst firstYear   = parseInt(data.firstRoleYear || 0);\n\nreturn [{ json: {\n  input_url,\n  name:             data.name            || '',\n  job_title:        data.jobTitle         || data.job_title || '',\n  company:          data.company          || '',\n  headline:         data.headline         || '',\n  location:         data.location         || '',\n  country:          data.country          || '',\n  industry:         data.industry         || '',\n  email:            data.email            || '',\n  mobile:           data.mobileNumber     || '',\n  connections:      data.connections      || '',\n  followers:        data.followers        || '',\n  is_employed:      data.isCurrentlyEmployed != null ? String(data.isCurrentlyEmployed) : '',\n  is_job_seeker:    data.isJobSeeker       != null ? String(data.isJobSeeker)           : '',\n  years_experience: firstYear ? String(currentYear - firstYear) : '',\n  linkedin_url:     data.linkedinUrl      || input_url\n}}];"
      }
    },
    {
      "id": "node-destination",
      "name": "→ Connect Your CRM Here",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1180, 320],
      "parameters": {},
      "notes": "📤 Connect your destination here:\n• HubSpot → 'Create/Update Contact'\n• Pipedrive → 'Create Person'\n• Salesforce → 'Create Record'\n• Airtable, Notion, HTTP webhook..."
    }
  ],
  "connections": {
    "On Form Submission":             { "main": [[{ "node": "Split into Individual Profiles", "type": "main", "index": 0 }]] },
    "Split into Individual Profiles": { "main": [[{ "node": "One Profile at a Time",          "type": "main", "index": 0 }]] },
    "One Profile at a Time":          { "main": [[{ "node": "Linkfinder — Scrape Profile",    "type": "main", "index": 0 }]] },
    "Linkfinder — Scrape Profile":    { "main": [[{ "node": "Extract Profile Fields",         "type": "main", "index": 0 }]] },
    "Extract Profile Fields":         { "main": [[{ "node": "→ Connect Your CRM Here",        "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
