workflows/n8n-lead-name-to-profile.json
{
  "name": "LinkFinder AI — Lead Name + Company → LinkedIn URL → Full Profile",
  "meta": { "templateCredsSetupCompleted": false },
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [80, 300],
      "parameters": {}
    },
    {
      "id": "node-read",
      "name": "Read Leads from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [300, 300],
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Sheet1", "mode": "name" },
        "filtersUI": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "CRED_SHEETS", "name": "Google Sheets account" }
      },
      "notes": "📋 Sheet1 must have two columns:\n  'full_name'    — e.g. Bill Gates\n  'company_name' — e.g. Microsoft\n\nThey will be combined as 'Bill Gates Microsoft'"
    },
    {
      "id": "node-batch",
      "name": "One Lead at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [520, 300],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "node-find-url",
      "name": "Linkfinder — Find LinkedIn URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"lead_full_name_to_linkedin_url\",\n  \"input_data\": \"{{ $json.full_name }} {{ $json.company_name }}\"\n}",
        "options": { "timeout": 60000 }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "CRED_API", "name": "Linkfinder API Key" }
      },
      "notes": "🔑 HTTP Header Auth credential:\n  Name:  Authorization\n  Value: Bearer YOUR_API_KEY\n\nStep 1: Combines full_name + company_name to find the LinkedIn profile URL"
    },
    {
      "id": "node-check",
      "name": "URL Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-scrape",
      "name": "Linkfinder — Scrape Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1180, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"linkedin_profile_to_linkedin_info\",\n  \"input_data\": \"{{ $json.result }}\"\n}",
        "options": { "timeout": 120000 }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "CRED_API", "name": "Linkfinder API Key" }
      },
      "notes": "Step 2: Uses the LinkedIn URL from step 1 to scrape the full profile"
    },
    {
      "id": "node-extract",
      "name": "Extract Profile Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 200],
      "parameters": {
        "jsCode": "const response   = $input.first().json;\nconst data       = response.result || response;\nconst lead       = $('Read Leads from Sheet').first().json;\nconst linkedinUrl= $('Linkfinder — Find LinkedIn URL').first().json.result || '';\n\nconst currentYear   = new Date().getFullYear();\nconst firstYear     = parseInt(data.firstRoleYear || data.first_role_year || 0);\n\nreturn [{ json: {\n  input_name:      lead.full_name        || '',\n  input_company:   lead.company_name     || '',\n  name:            data.name             || lead.full_name || '',\n  job_title:       data.jobTitle         || data.job_title || '',\n  company:         data.company          || lead.company_name || '',\n  headline:        data.headline         || '',\n  location:        data.location         || '',\n  country:         data.country          || '',\n  industry:        data.industry         || '',\n  email:           data.email            || '',\n  mobile:          data.mobileNumber     || data.mobile       || '',\n  connections:     data.connections      || '',\n  followers:       data.followers        || '',\n  is_employed:     data.isCurrentlyEmployed !== undefined ? String(data.isCurrentlyEmployed) : '',\n  years_experience:firstYear ? String(currentYear - firstYear) : '',\n  linkedin_url:    linkedinUrl\n}}];"
      }
    },
    {
      "id": "node-not-found",
      "name": "Log Not Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 420],
      "parameters": {
        "jsCode": "const lead = $('Read Leads from Sheet').first().json;\nreturn [{ json: {\n  input_name:    lead.full_name    || '',\n  input_company: lead.company_name || '',\n  name: 'LinkedIn URL not found',\n  job_title:'', company:'', headline:'', location:'',\n  country:'', industry:'', email:'', mobile:'',\n  connections:'', followers:'', is_employed:'',\n  years_experience:'', linkedin_url:''\n}}];"
      }
    },
    {
      "id": "node-merge",
      "name": "Merge Found + Not Found",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1620, 300],
      "parameters": { "mode": "passThrough", "output": "all" }
    },
    {
      "id": "node-write",
      "name": "Append to Results Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1840, 300],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Results", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "input_name":       "={{ $json.input_name }}",
            "input_company":    "={{ $json.input_company }}",
            "name":             "={{ $json.name }}",
            "job_title":        "={{ $json.job_title }}",
            "company":          "={{ $json.company }}",
            "headline":         "={{ $json.headline }}",
            "location":         "={{ $json.location }}",
            "country":          "={{ $json.country }}",
            "industry":         "={{ $json.industry }}",
            "email":            "={{ $json.email }}",
            "mobile":           "={{ $json.mobile }}",
            "connections":      "={{ $json.connections }}",
            "followers":        "={{ $json.followers }}",
            "is_employed":      "={{ $json.is_employed }}",
            "years_experience": "={{ $json.years_experience }}",
            "linkedin_url":     "={{ $json.linkedin_url }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "CRED_SHEETS", "name": "Google Sheets account" }
      },
      "notes": "📋 Create a 'Results' tab with headers:\ninput_name | input_company | name | job_title | company | headline | location | country | industry | email | mobile | connections | followers | is_employed | years_experience | linkedin_url"
    }
  ],
  "connections": {
    "Manual Trigger":                    { "main": [[{ "node": "Read Leads from Sheet",              "type": "main", "index": 0 }]] },
    "Read Leads from Sheet":             { "main": [[{ "node": "One Lead at a Time",                 "type": "main", "index": 0 }]] },
    "One Lead at a Time":                { "main": [[{ "node": "Linkfinder — Find LinkedIn URL",     "type": "main", "index": 0 }]] },
    "Linkfinder — Find LinkedIn URL":    { "main": [[{ "node": "URL Found?",                         "type": "main", "index": 0 }]] },
    "URL Found?": {
      "main": [
        [{ "node": "Linkfinder — Scrape Profile", "type": "main", "index": 0 }],
        [{ "node": "Log Not Found",               "type": "main", "index": 0 }]
      ]
    },
    "Linkfinder — Scrape Profile":       { "main": [[{ "node": "Extract Profile Fields",   "type": "main", "index": 0 }]] },
    "Extract Profile Fields":            { "main": [[{ "node": "Merge Found + Not Found",   "type": "main", "index": 0 }]] },
    "Log Not Found":                     { "main": [[{ "node": "Merge Found + Not Found",   "type": "main", "index": 1 }]] },
    "Merge Found + Not Found":           { "main": [[{ "node": "Append to Results Sheet",   "type": "main", "index": 0 }]] },
    "Append to Results Sheet":           { "main": [[{ "node": "One Lead at a Time",         "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
