workflows/n8n-domain-to-all-employees.json
{
  "name": "LinkFinder AI — Domain → All Employees",
  "meta": { "templateCredsSetupCompleted": false },
  "nodes": [
    {
      "id": "node-sticky",
      "name": "📌 API Key",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 80],
      "parameters": {
        "content": "## 🔑 API Key Setup\n\nFind your API key in the **API Access** section of your [linkfinderai.com](https://linkfinderai.com) account.\n\nThen replace `{{Insert-api-key}}` in every **Linkfinder** node with your actual key.",
        "height": 160,
        "width": 340
      }
    },
    {
      "id": "node-form",
      "name": "On Form Submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [80, 320],
      "parameters": {
        "formTitle": "Employee List Extractor",
        "formDescription": "Extract all employees from a list of company domains.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Domains",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "tesla.com\nstripe.com\nnotion.so",
              "fieldDescription": "One domain per line"
            },
            {
              "fieldLabel": "Max results per domain",
              "fieldType": "number",
              "requiredField": false,
              "placeholder": "50"
            }
          ]
        },
        "responseMode": "onReceived"
      }
    },
    {
      "id": "node-split",
      "name": "Split into Individual Domains",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 320],
      "parameters": {
        "jsCode": "const raw      = $input.first().json['Domains'] || '';\nconst maxCount = parseInt($input.first().json['Max results per domain'] || '50');\n\nreturn raw.split('\\n').map(d => d.trim()).filter(d => d)\n  .map(domain => ({ json: { domain, employee_count: maxCount } }));"
      }
    },
    {
      "id": "node-batch",
      "name": "One Domain at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [520, 320],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "node-api",
      "name": "Linkfinder — Get All Employees",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 320],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{Insert-api-key}}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"company_domain_to_employees\",\n  \"input_data\": \"{{ $json.domain }}\",\n  \"employee_count\": {{ $json.employee_count }}\n}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "node-format",
      "name": "Format Employee Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 320],
      "parameters": {
        "jsCode": "const response  = $input.first().json;\nconst employees = response.result || response;\nconst domain    = $('One Domain at a Time').first().json.domain;\n\nif (!Array.isArray(employees) || employees.length === 0)\n  return [{ json: { domain, status: 'no_results' } }];\n\nreturn employees.map(emp => ({ json: {\n  domain,\n  name:         emp.name        || '',\n  job_title:    emp.jobTitle     || emp.job_title    || '',\n  email:        emp.email        || '',\n  linkedin_url: emp.linkedinUrl  || emp.linkedin_url || '',\n  company:      emp.company      || '',\n  department:   emp.department   || '',\n  city:         emp.city         || '',\n  country:      emp.country      || ''\n}}));"
      }
    },
    {
      "id": "node-destination",
      "name": "→ Connect Your CRM Here",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1180, 320],
      "parameters": {},
      "notes": "📤 Connect your destination here:\n• HubSpot → 'Create/Update Contact'\n• Pipedrive → 'Create Person'\n• Salesforce → 'Create Record'\n• Airtable, Notion, HTTP webhook..."
    }
  ],
  "connections": {
    "On Form Submission":            { "main": [[{ "node": "Split into Individual Domains",  "type": "main", "index": 0 }]] },
    "Split into Individual Domains": { "main": [[{ "node": "One Domain at a Time",           "type": "main", "index": 0 }]] },
    "One Domain at a Time":          { "main": [[{ "node": "Linkfinder — Get All Employees", "type": "main", "index": 0 }]] },
    "Linkfinder — Get All Employees":{ "main": [[{ "node": "Format Employee Data",           "type": "main", "index": 0 }]] },
    "Format Employee Data":          { "main": [[{ "node": "→ Connect Your CRM Here",        "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
