workflows/n8n-reactions-to-profiles.json
{
  "name": "LinkFinder AI — Post Reactions → Scrape Every Reactor's Profile",
  "meta": { "templateCredsSetupCompleted": false },
  "nodes": [
    {
      "id": "node-sticky",
      "name": "📌 API Key",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 80],
      "parameters": {
        "content": "## 🔑 API Key Setup\n\nFind your API key in the **API Access** section of your [linkfinderai.com](https://linkfinderai.com) account.\n\nThen replace `{{Insert-api-key}}` in every **Linkfinder** node with your actual key.\n\n⚠️ **Credit cost:** 1 credit to get reactors + 10 credits per profile scraped.",
        "height": 200,
        "width": 360
      }
    },
    {
      "id": "node-form",
      "name": "On Form Submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [80, 360],
      "parameters": {
        "formTitle": "Post Reactions → Lead Profiles",
        "formDescription": "Paste a LinkedIn post URL to extract and enrich every reactor.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "LinkedIn Post URL",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "https://www.linkedin.com/feed/update/urn:li:activity:1234567890",
              "fieldDescription": "Click '... → Copy link to post' on any LinkedIn post"
            }
          ]
        },
        "responseMode": "onReceived"
      }
    },
    {
      "id": "node-reactions",
      "name": "Linkfinder — Get Reactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 360],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{Insert-api-key}}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"linkedin_post_to_reactions\",\n  \"input_data\": \"{{ $json['LinkedIn Post URL'] }}\"\n}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "node-parse",
      "name": "Parse Reactors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 360],
      "parameters": {
        "jsCode": "const response  = $input.first().json;\nconst reactions = response.result || response;\n\nif (!Array.isArray(reactions) || reactions.length === 0)\n  return [{ json: { linkedin_url: '', name: 'No reactions found', status: 'empty' } }];\n\nreturn reactions\n  .filter(r => r.link && r.link.includes('linkedin.com/in/'))\n  .map(r => {\n    const parts = (r.title || '').split(' - ');\n    return { json: {\n      linkedin_url: r.link || '',\n      name:     (parts[0] || '').trim(),\n      job_info: parts.slice(1).join(' - ').trim()\n    }};\n  });"
      }
    },
    {
      "id": "node-scrape",
      "name": "Linkfinder — Scrape Each Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 360],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{Insert-api-key}}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"linkedin_profile_to_linkedin_info\",\n  \"input_data\": \"{{ $json.linkedin_url }}\"\n}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "node-format",
      "name": "Extract Profile Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 360],
      "parameters": {
        "jsCode": "const response  = $input.first().json;\nconst data      = response.result || response;\nconst reactor   = $('Parse Reactors').first().json;\n\nconst currentYear = new Date().getFullYear();\nconst firstYear   = parseInt(data.firstRoleYear || 0);\n\nreturn [{ json: {\n  reactor_name:     reactor.name     || '',\n  reactor_job_info: reactor.job_info || '',\n  name:             data.name        || reactor.name || '',\n  job_title:        data.jobTitle     || data.job_title || '',\n  company:          data.company      || '',\n  headline:         data.headline     || '',\n  location:         data.location     || '',\n  country:          data.country      || '',\n  industry:         data.industry     || '',\n  email:            data.email        || '',\n  mobile:           data.mobileNumber || '',\n  connections:      data.connections  || '',\n  is_employed:      data.isCurrentlyEmployed != null ? String(data.isCurrentlyEmployed) : '',\n  years_experience: firstYear ? String(currentYear - firstYear) : '',\n  linkedin_url:     data.linkedinUrl  || reactor.linkedin_url\n}}];"
      }
    },
    {
      "id": "node-destination",
      "name": "→ Connect Your CRM Here",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1180, 360],
      "parameters": {},
      "notes": "📤 Connect your destination here:\n• HubSpot → 'Create/Update Contact'\n• Pipedrive → 'Create Person'\n• Salesforce → 'Create Record'\n• Airtable, Notion, HTTP webhook..."
    }
  ],
  "connections": {
    "On Form Submission":               { "main": [[{ "node": "Linkfinder — Get Reactions",       "type": "main", "index": 0 }]] },
    "Linkfinder — Get Reactions":       { "main": [[{ "node": "Parse Reactors",                   "type": "main", "index": 0 }]] },
    "Parse Reactors":                   { "main": [[{ "node": "Linkfinder — Scrape Each Profile", "type": "main", "index": 0 }]] },
    "Linkfinder — Scrape Each Profile": { "main": [[{ "node": "Extract Profile Fields",           "type": "main", "index": 0 }]] },
    "Extract Profile Fields":           { "main": [[{ "node": "→ Connect Your CRM Here",          "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
