workflows/n8n-company-full-enrichment.json
{
  "name": "LinkFinder AI — Company Name → Full Enrichment",
  "meta": { "templateCredsSetupCompleted": false },
  "nodes": [
    {
      "id": "node-sticky",
      "name": "📌 API Key",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 80],
      "parameters": {
        "content": "## 🔑 API Key Setup\n\nFind your API key in the **API Access** section of your [linkfinderai.com](https://linkfinderai.com) account.\n\nThen replace `{{Insert-api-key}}` in every **Linkfinder** node with your actual key.",
        "height": 160,
        "width": 340
      }
    },
    {
      "id": "node-form",
      "name": "On Form Submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [80, 320],
      "parameters": {
        "formTitle": "Company Enrichment",
        "formDescription": "Enrich company names with website, email, phone, LinkedIn URL and headcount.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Company Names",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Tesla\nStripe\nNotion",
              "fieldDescription": "One company name per line"
            }
          ]
        },
        "responseMode": "onReceived"
      }
    },
    {
      "id": "node-split",
      "name": "Split into Individual Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 320],
      "parameters": {
        "jsCode": "const raw = $input.first().json['Company Names'] || '';\nreturn raw.split('\\n').map(c => c.trim()).filter(c => c)\n  .map(company_name => ({ json: { company_name } }));"
      }
    },
    {
      "id": "node-batch",
      "name": "One Company at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [520, 320],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "node-website",
      "name": "Linkfinder — Get Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 160],
      "parameters": {
        "method": "POST", "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{Insert-api-key}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={ \"type\": \"company_name_to_website\", \"input_data\": \"{{ $json.company_name }}\" }",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "node-email",
      "name": "Linkfinder — Get Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 280],
      "parameters": {
        "method": "POST", "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{Insert-api-key}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={ \"type\": \"company_name_to_email\", \"input_data\": \"{{ $('One Company at a Time').first().json.company_name }}\" }",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "node-phone",
      "name": "Linkfinder — Get Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 400],
      "parameters": {
        "method": "POST", "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{Insert-api-key}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={ \"type\": \"company_name_to_phone\", \"input_data\": \"{{ $('One Company at a Time').first().json.company_name }}\" }",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "node-linkedin",
      "name": "Linkfinder — Get LinkedIn URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 520],
      "parameters": {
        "method": "POST", "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{Insert-api-key}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={ \"type\": \"company_name_to_linkedin_url\", \"input_data\": \"{{ $('One Company at a Time').first().json.company_name }}\" }",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "node-headcount",
      "name": "Linkfinder — Get Headcount",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 640],
      "parameters": {
        "method": "POST", "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer {{Insert-api-key}}" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={ \"type\": \"company_name_to_employee_count\", \"input_data\": \"{{ $('One Company at a Time').first().json.company_name }}\" }",
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "node-merge",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 400],
      "parameters": {
        "jsCode": "const company_name = $('One Company at a Time').first().json.company_name;\nconst website      = $('Linkfinder — Get Website').first().json.result      || '';\nconst email        = $('Linkfinder — Get Email').first().json.result        || '';\nconst phone        = $('Linkfinder — Get Phone').first().json.result        || '';\nconst linkedin_url = $('Linkfinder — Get LinkedIn URL').first().json.result || '';\nconst headcount    = $('Linkfinder — Get Headcount').first().json.result    || '';\n\nreturn [{ json: { company_name, website, email, phone, linkedin_url, headcount } }];"
      }
    },
    {
      "id": "node-destination",
      "name": "→ Connect Your CRM Here",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1200, 400],
      "parameters": {},
      "notes": "📤 Connect your destination here:\n• HubSpot → 'Create/Update Company'\n• Pipedrive → 'Create Organization'\n• Salesforce → 'Create Account'\n• Airtable, Notion, HTTP webhook..."
    }
  ],
  "connections": {
    "On Form Submission": { "main": [[{ "node": "Split into Individual Companies", "type": "main", "index": 0 }]] },
    "Split into Individual Companies": { "main": [[{ "node": "One Company at a Time", "type": "main", "index": 0 }]] },
    "One Company at a Time": {
      "main": [[
        { "node": "Linkfinder — Get Website",     "type": "main", "index": 0 },
        { "node": "Linkfinder — Get Email",        "type": "main", "index": 0 },
        { "node": "Linkfinder — Get Phone",        "type": "main", "index": 0 },
        { "node": "Linkfinder — Get LinkedIn URL", "type": "main", "index": 0 },
        { "node": "Linkfinder — Get Headcount",    "type": "main", "index": 0 }
      ]]
    },
    "Linkfinder — Get Website":     { "main": [[{ "node": "Merge All Results", "type": "main", "index": 0 }]] },
    "Linkfinder — Get Email":       { "main": [[{ "node": "Merge All Results", "type": "main", "index": 1 }]] },
    "Linkfinder — Get Phone":       { "main": [[{ "node": "Merge All Results", "type": "main", "index": 2 }]] },
    "Linkfinder — Get LinkedIn URL":{ "main": [[{ "node": "Merge All Results", "type": "main", "index": 3 }]] },
    "Linkfinder — Get Headcount":   { "main": [[{ "node": "Merge All Results", "type": "main", "index": 4 }]] },
    "Merge All Results":            { "main": [[{ "node": "→ Connect Your CRM Here", "type": "main", "index": 0 }]] },
    "→ Connect Your CRM Here":      { "main": [[{ "node": "One Company at a Time",   "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
