workflows/n8n-targeted-prospects.json
{
  "name": "LinkFinder AI — Domain → Targeted Prospects",
  "nodes": [
    {
      "parameters": {
        "content": "## 🔑 API Key Setup\n\nFind your API key in the **API Access** section of your [linkfinderai.com](https://linkfinderai.com) account.\n\nThen replace `{{Insert-api-key}}` in every **Linkfinder** node with your actual key.",
        "height": 192,
        "width": 340
      },
      "id": "24771504-7675-4e8e-85d6-fd4a5bc3a7b1",
      "name": "📌 API Key",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        0
      ]
    },
    {
      "parameters": {
        "path": "9c5ff08b-8b53-4fd0-96f3-3616fdb4675b",
        "formTitle": "Targeted Prospect Finder",
        "formDescription": "Extract prospects from company domains filtered by department and seniority.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Domains",
              "fieldType": "textarea",
              "placeholder": "tesla.com\nstripe.com\nnotion.so",
              "requiredField": true
            },
            {
              "fieldLabel": "Department",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "sales"
                  },
                  {
                    "option": "marketing"
                  },
                  {
                    "option": "engineering_technical"
                  },
                  {
                    "option": "product"
                  },
                  {
                    "option": "c_suite"
                  },
                  {
                    "option": "finance"
                  },
                  {
                    "option": "human_resources"
                  },
                  {
                    "option": "operations"
                  },
                  {
                    "option": "information_technology"
                  },
                  {
                    "option": "legal"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Seniority",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "director"
                  },
                  {
                    "option": "vp"
                  },
                  {
                    "option": "c_suite"
                  },
                  {
                    "option": "founder"
                  },
                  {
                    "option": "owner"
                  },
                  {
                    "option": "partner"
                  },
                  {
                    "option": "head"
                  },
                  {
                    "option": "manager"
                  },
                  {
                    "option": "senior"
                  },
                  {
                    "option": "entry"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Max results per domain",
              "fieldType": "number",
              "placeholder": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "2f8ff760-a364-4247-8419-a8e54eaac158",
      "name": "On Form Submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        0,
        240
      ],
      "webhookId": "9c5ff08b-8b53-4fd0-96f3-3616fdb4675b"
    },
    {
      "parameters": {
        "jsCode": "const raw       = $input.first().json['Domains'] || '';\nconst dept      = $input.first().json['Department'] || 'sales';\nconst seniority = $input.first().json['Seniority']  || 'director';\nconst maxCount  = parseInt($input.first().json['Max results per domain'] || '10');\n\nreturn raw.split('\\n').map(d => d.trim()).filter(d => d)\n  .map(domain => ({ json: { domain, department: dept, seniority, employee_count: maxCount } }));"
      },
      "id": "f486687d-ada0-41b9-abaa-4641a5c1f800",
      "name": "Split into Individual Domains",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ae903809-2d3f-45c4-9b6d-4f1b605d2446",
      "name": "One Domain at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{Insert-api-key}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"company_domain_to_employees\",\n  \"input_data\": \"{{ $json.domain }}\",\n  \"department\": \"{{ $json.department }}\",\n  \"seniority\": \"{{ $json.seniority }}\",\n  \"employee_count\": {{ $json.employee_count }}\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "8174ae2f-3d9a-4218-9ec7-ae6aeb72fc33",
      "name": "Linkfinder — Get Targeted Employees",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        768,
        240
      ]
    },
    {
      "parameters": {},
      "id": "1c818c2a-ab52-45d7-9a0c-7091447a6037",
      "name": "→ Connect Your CRM Here",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1104,
        240
      ],
      "notes": "📤 Connect your destination here:\n• HubSpot → 'Create/Update Contact'\n• Pipedrive → 'Create Person'\n• Salesforce → 'Create Record'\n• Airtable, Notion, HTTP webhook..."
    }
  ],
  "pinData": {},
  "connections": {
    "On Form Submission": {
      "main": [
        [
          {
            "node": "Split into Individual Domains",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into Individual Domains": {
      "main": [
        [
          {
            "node": "One Domain at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "One Domain at a Time": {
      "main": [
        [],
        [
          {
            "node": "Linkfinder — Get Targeted Employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkfinder — Get Targeted Employees": {
      "main": [
        [
          {
            "node": "→ Connect Your CRM Here",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "→ Connect Your CRM Here": {
      "main": [
        [
          {
            "node": "One Domain at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df037c9f-baf0-40e0-b96e-5c9723f08cdf",
  "meta": {
    "instanceId": "0ba15c473753d92c71f15fc9391d54bb141d91f940c0582da38b60426c3c2f10"
  },
  "id": "VruAmpigF1bmqGdW",
  "tags": []
}
