workflows/n8n-domain-to-all-employees.json
{
  "name": "LinkFinder AI — Domain → All Employees",
  "meta": { "templateCredsSetupCompleted": false },
  "nodes": [
    {
      "id": "node-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [80, 300],
      "parameters": {}
    },
    {
      "id": "node-read",
      "name": "Read Domains from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [300, 300],
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Sheet1", "mode": "name" },
        "filtersUI": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "CRED_SHEETS", "name": "Google Sheets account" }
      },
      "notes": "📋 Sheet1 must have a column named 'domain'\nExamples: tesla.com, apple.com, stripe.com"
    },
    {
      "id": "node-batch",
      "name": "One Domain at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [520, 300],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "node-api",
      "name": "Linkfinder — Get All Employees",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"company_domain_to_employees\",\n  \"input_data\": \"{{ $json.domain }}\",\n  \"employee_count\": 50\n}",
        "options": { "timeout": 120000 }
      },
      "credentials": {
        "httpHeaderAuth": { "id": "CRED_API", "name": "Linkfinder API Key" }
      },
      "notes": "🔑 HTTP Header Auth credential:\n  Name:  Authorization\n  Value: Bearer YOUR_API_KEY\n\n💡 Increase employee_count up to 100 for larger companies"
    },
    {
      "id": "node-flatten",
      "name": "Flatten Employee Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "// The API returns { result: [...employees], status: 'success' }\nconst response = $input.first().json;\nconst employees = response.result;\nconst domain = $('Read Domains from Sheet').first().json.domain;\n\nif (!Array.isArray(employees) || employees.length === 0) {\n  return [{ json: {\n    domain,\n    name: 'No employees found',\n    jobTitle: '', email: '', linkedinUrl: '',\n    company: '', department: '', city: '', country: '', headline: ''\n  }}];\n}\n\nreturn employees.map(emp => ({\n  json: {\n    domain,\n    name:          emp.name          || '',\n    jobTitle:      emp.jobTitle       || emp.job_title    || '',\n    email:         emp.email          || '',\n    linkedinUrl:   emp.linkedinUrl    || emp.linkedin_url || '',\n    company:       emp.company        || '',\n    department:    emp.department     || '',\n    city:          emp.city           || '',\n    country:       emp.country        || '',\n    headline:      emp.headline       || ''\n  }\n}));"
      }
    },
    {
      "id": "node-write",
      "name": "Append Employees to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1180, 300],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_SPREADSHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Results", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "domain":      "={{ $json.domain }}",
            "name":        "={{ $json.name }}",
            "jobTitle":    "={{ $json.jobTitle }}",
            "email":       "={{ $json.email }}",
            "linkedinUrl": "={{ $json.linkedinUrl }}",
            "company":     "={{ $json.company }}",
            "department":  "={{ $json.department }}",
            "city":        "={{ $json.city }}",
            "country":     "={{ $json.country }}",
            "headline":    "={{ $json.headline }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "CRED_SHEETS", "name": "Google Sheets account" }
      },
      "notes": "📋 Create a 'Results' tab with these exact headers in row 1:\ndomain | name | jobTitle | email | linkedinUrl | company | department | city | country | headline"
    }
  ],
  "connections": {
    "Manual Trigger":               { "main": [[{ "node": "Read Domains from Sheet",      "type": "main", "index": 0 }]] },
    "Read Domains from Sheet":      { "main": [[{ "node": "One Domain at a Time",          "type": "main", "index": 0 }]] },
    "One Domain at a Time":         { "main": [[{ "node": "Linkfinder — Get All Employees","type": "main", "index": 0 }]] },
    "Linkfinder — Get All Employees":{ "main": [[{ "node": "Flatten Employee Rows",        "type": "main", "index": 0 }]] },
    "Flatten Employee Rows":        { "main": [[{ "node": "Append Employees to Sheet",     "type": "main", "index": 0 }]] },
    "Append Employees to Sheet":    { "main": [[{ "node": "One Domain at a Time",          "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
