workflows/n8n-linkedin-company-scrape.json
{
  "name": "LinkFinder AI — LinkedIn Company Pages → Full Scrape",
  "meta": { "templateCredsSetupCompleted": false },
  "nodes": [
    {
      "id": "node-sticky",
      "name": "📌 API Key",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 80],
      "parameters": {
        "content": "## 🔑 API Key Setup\n\nFind your API key in the **API Access** section of your [linkfinderai.com](https://linkfinderai.com) account.\n\nThen replace `{{Insert-api-key}}` in every **Linkfinder** node with your actual key.",
        "height": 160,
        "width": 340
      }
    },
    {
      "id": "node-form",
      "name": "On Form Submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [80, 320],
      "parameters": {
        "formTitle": "LinkedIn Company Scraper",
        "formDescription": "Scrape full data from LinkedIn company pages.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "LinkedIn Company URLs",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "https://linkedin.com/company/tesla\nhttps://linkedin.com/company/stripe",
              "fieldDescription": "One URL per line"
            }
          ]
        },
        "responseMode": "onReceived"
      }
    },
    {
      "id": "node-split",
      "name": "Split into Individual URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 320],
      "parameters": {
        "jsCode": "const raw = $input.first().json['LinkedIn Company URLs'] || '';\nreturn raw.split('\\n').map(u => u.trim()).filter(u => u)\n  .map(linkedin_url => ({ json: { linkedin_url } }));"
      }
    },
    {
      "id": "node-batch",
      "name": "One URL at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [520, 320],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "node-api",
      "name": "Linkfinder — Scrape Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 320],
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{Insert-api-key}}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"linkedin_company_to_linkedin_info\",\n  \"input_data\": \"{{ $json.linkedin_url }}\"\n}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "node-format",
      "name": "Extract Company Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 320],
      "parameters": {
        "jsCode": "const response  = $input.first().json;\nconst data      = response.result || response;\nconst input_url = $('One URL at a Time').first().json.linkedin_url;\n\nif (!data || response.status === 'error')\n  return [{ json: { input_url, status: 'error' } }];\n\nreturn [{ json: {\n  input_url,\n  name:          data.name           || '',\n  tagline:       data.tagline        || '',\n  industry:      data.industry       || '',\n  company_size:  data.company_size   || data.companySize    || '',\n  follower_count:data.followerCount  || data.follower_count || '',\n  city:          data.city           || '',\n  country:       data.country        || '',\n  founded_on:    data.foundedOn      || data.founded_on     || '',\n  website:       data.website        || '',\n  company_email: data.company_email  || data.companyEmail   || '',\n  company_phone: data.company_phone  || data.companyPhone   || '',\n  description:   (data.company_description || data.description || '').substring(0, 500),\n  linkedin_url:  data.linkedinUrl    || input_url\n}}];"
      }
    },
    {
      "id": "node-destination",
      "name": "→ Connect Your CRM Here",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1180, 320],
      "parameters": {},
      "notes": "📤 Connect your destination here:\n• HubSpot → 'Create/Update Company'\n• Pipedrive → 'Create Organization'\n• Salesforce → 'Create Account'\n• Airtable, Notion, HTTP webhook..."
    }
  ],
  "connections": {
    "On Form Submission":        { "main": [[{ "node": "Split into Individual URLs",  "type": "main", "index": 0 }]] },
    "Split into Individual URLs":{ "main": [[{ "node": "One URL at a Time",           "type": "main", "index": 0 }]] },
    "One URL at a Time":         { "main": [[{ "node": "Linkfinder — Scrape Company", "type": "main", "index": 0 }]] },
    "Linkfinder — Scrape Company":{ "main": [[{ "node": "Extract Company Fields",    "type": "main", "index": 0 }]] },
    "Extract Company Fields":    { "main": [[{ "node": "→ Connect Your CRM Here",    "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
